*{
    max-width: 1100px;  
}
body{
    background: url(../images/bokuNoHeroBG2.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-color: rgb(243, 223, 10);
    box-shadow: 20px 20px 20px 5px rgba(243, 223, 10, 0.5) inset;
    border-radius: 15px;
    font-family: 'Nunito', sans-serif;
}
.header{
    position: relative;
    left: 20%;
    height: 150px;
    background-image: url(../images/my-hero-academia-5748204f7f80a.png);
    background-repeat: no-repeat;
}
.start, .reset{
    position: relative;
    width: 700px;
    height: 400px;
    left: 5%;
    padding: 10px;
    margin: 10px;
}
.start-img, .reset-img{
    position: relative;
    border-radius: 15px;
    width: 600px;
    height:310px;
    margin: 15px;
}
.letsStart{
    background-color: yellow;
    border-top-width: 1px;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: rgb(240, 149, 13);
    border-radius: 10px;
    width: 40%;
    position: absolute;
    color:rgb(19,99,100);
    text-align: center;
    font-weight: 700;
    padding: 15px;
    display: inline-block;
    top: 250px;
    left: 26%;
    z-index: 200;
}
.btn-lg{
    font-family: 'VT323', monospace;
    background-color: rgb(19,99,100);
    color: whitesmoke;
    font-weight: 500;
    position: relative;
    font-size: 20px;
    letter-spacing: 1px;
    left: 37%;
    border-color: rgb(13, 65, 66);
    border-width: 3px;
}
.btn-sm{
    background-color: rgb(19,99,100);
    color: whitesmoke;
    font-weight: 700;
    position: relative;
    left: 45%;
    top: 30%;
    border-color: black;
}
.card{
    border-style: solid;
    border-color: rgb(171, 182, 23);
    border-width: 2px;
    padding: 10px;
    margin: 10px;
    width: 700px;
    height: 400px;
    left: 5%;
    display: none;
}
li{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: rgb(245, 142, 16);
    text-shadow: 1px 1px 2px rgb(134, 39, 4);
    margin: 5px;
}
.card-img-top{
    height: 300px;
    width: 100%;
    opacity: 0.5;
    border-radius: 5PX;
}
.card-img-overlay{
    max-height: 275px;
    max-width: 676px;
}
.start{
    display: inherit;
}
.card-body{
    position: relative;
}
.timer{
    text-align: right;
    background-color: white;
    position: absolute;
    left: 520px;
    top: 320px;
    padding: 2px 5px;
}
.answer{
    font-weight: 500;
    color: black;
    font-size: 30px;
    text-align: center;
}
.card-title{
    font-size: 15px;
}
.card-text{
    position: absolute;
    left: 100px;
    font-size: 20px;
    color: rgb(19,99,100);
}
.scores{
    position: absolute;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px;
    left: 100px;
    top: 200px;
    border-radius: 10px;
    z-index: 400;
}