*{
    max-width: 1200px;
}
body{
    background: url(../images/bokuNoHeroBG1-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
}
.header{
   
    position: relative;
    left: 50%;
    height: 150px;
    background-image: url(../images/my-hero-academia-5748204f7f80a.png);
    background-repeat: no-repeat;
}
.card{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 10px;
    margin: 10px;
    width: 700px;
    height: 400px;
    left: 37%;
}
li{
    text-align: center;
    padding: 15px;
    font-weight: 500;
    border-style: solid;
    border-color: black;
    border-width: 2px;

}
.card-image-top{
    height: 276px;
    width: 676px;
    opacity: .5;
}